{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/my_orders.css' %}">
{% endblock %}

{% block content %}

<div class="orders-page">

    <h1>📦 My Orders</h1>

    {% for order in orders %}

    <div class="order-card">

        <div class="order-header">

            <div>
                <h2>Order #{{ order.id }}</h2>
                <p>{{ order.created_at|date:"d M Y, h:i A" }}</p>
            </div>

            <div class="status">
                {{ order.status }}
            </div>

        </div>

        <hr>

        {% for item in order.items.all %}

        <div class="product-row">

            <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}">

            <div class="product-info">

                <h3>{{ item.product.name }}</h3>

                <p>Quantity: {{ item.quantity }}</p>

                <strong>₹{{ item.price }}</strong>

            </div>

        </div>

        {% endfor %}

        <hr>

        <div class="order-footer">

            <div>
                <h2>Total: ₹{{ order.total_amount }}</h2>
                <p>Payment: {{ order.payment_method }}</p>
            </div>

            <a href="{% url 'order_details' order.id %}" class="details-btn">
                <i class="fa-solid fa-eye"></i> View Details
            </a>

        </div>

    </div>

    {% empty %}

    <div class="empty-orders">
        <h2>No Orders Yet</h2>
        <p>You haven't placed any orders yet.</p>

        <a href="{% url 'products' %}" class="details-btn">
            Start Shopping
        </a>
    </div>

    {% endfor %}

</div>

{% endblock %}